@model DrawShip.Viewer.DrawingViewModel
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8" />
	<title>@Model.DrawingTitle</title>

	<style>
		body {
			padding: 0px;
			margin: 0px;
		}

        .drawing-title-position {
			margin: 0px;
			padding: 0px;
			position: absolute;
		    left: 0px;
		    right: 0px;
		    top: 1px;
		    height: 28px;
            z-index: 1;
		}

        .drawing-title-style {
			background: #EEEEEE;
			border-bottom: 1px solid #D0D0D0;
            border-top: 1px solid #D0D0D0;
        }

		.drawing-title {
			font-family: Tahoma;
			font-size: 14px;
			font-weight: normal;
		    z-index: 1000;
		    left: @(Model.GetTitleOffset(20, 30))px;
		    line-height: 28px;
		}

		.drawing-title .powered-by {
			position: absolute;
			right: 5px;
		}
	</style>
</head>
<body>
<div class="drawing-title-position drawing-title-style"></div>
<h2 class="drawing-title-position drawing-title">
    <text>
        Drawing: @Model.DrawingTitle (as <a target="_blank" href="@Model.ImageFormatUri">image</a> / <a href="@Model.PrintUri">print</a>)
    </text>
    @if (Model.PageCount > 1)
    {
    <span>
        Page: 
        <b id="page-id" data-pages="@Model.PageNamesJson"></b>
        of @Model.PageCount
    </span>
    }
    <span class="powered-by">Powered by <a href="https://github.com/laingsimon/draw-ship" target="_blank">DrawShip</a> &amp; <a href="https://about.draw.io" target="_blank">draw.io</a></span>
</h2>
<div class="mxgraph" style="max-width: 100%; border: 1px solid transparent;" data-mxgraph="@Model.ReadDrawingData()"></div>

<script type="text/javascript" src="https://www.draw.io/embed2.js?s=@(Model.ShapeNames)"></script>

<script type="text/javascript">
    var _originalWindowOpen = window.open;
    var _ctrlKeyPressed = false;
    var _currentPage = @Model.PageIndex;
    var _pageId = document.getElementById("page-id");
    var _pages = _pageId ? JSON.parse(_pageId.getAttribute("data-pages")) : [];

    window.open = function(url, options, name) {
        if (_ctrlKeyPressed)
            _originalWindowOpen(url, options, name);
        else
            document.location = url;
    }

    window.addEventListener("keydown",
        function(event) {
            _ctrlKeyPressed = event.ctrlKey;
        })

    window.addEventListener("keyup",
        function(event) {
            _ctrlKeyPressed = false;
        })

    window.addEventListener("click", function (event) {
        if (event.target.tagName !== "IMG") {
            return;
        }

        let button = event.target.parentNode;
        if (!button.title) {
            return;
        }

        if (button.title === "Next Page") {
            _setPage(1);
        } else if (button.title === "Previous Page") {
            _setPage(-1);
        }
    });

    function _setPage(change) {
        _currentPage += change;

        if (_currentPage >= _pages.length) {
            _currentPage = 0;
        } else if (_currentPage < 0) {
            _currentPage = _pages.length - 1;
        }

        let newPage = _pages[_currentPage];
        _pageId.innerText = newPage;
        _pageId.title = "Page " + (_currentPage + 1)
    }

    window.setTimeout(function () { _setPage(0); }, 100);
</script>
</body>
</html>